/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ffffff; /* Fundo branco */
    color: #333333; /* Texto em tom neutro */
    padding: 0;
    margin: 0;
  }

  /* Estilo das seções */
  section {
    padding: 20px;
    max-width: 1250px;
    margin: 20px auto;
    background: #f8f9fa; /* Fundo cinza claro */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  h1 {
    font-size: 20px;
    color: #000000;
  }
  p {
    font-size: 15px;
    color: #000000;
  }
  
  /* Títulos */

  .imagem-home img {
    width: 1200px;
    height: auto;
    text-align: center;
  }
  /* Botões */

  
  button:hover {
    background-color: #000000; /* Azul mais escuro */
    transition: background-color 0.3s;
  }
  
  

  
 
  

  