/* Estilo do footer */
footer {
    background-color: #007bff; /* Azul */
    color: #ffffff; /* Texto branco */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }